@font-face {
    font-family: NiceLook;
    src: url(SyneMono-Regular.ttf);
  }

html, body {
    background-image: url("Background.jpg");
    margin: 0; padding:0; border: 0;
    overflow: hidden
}
#header, #middle, #footer {
    position: absolute;
    width: 100%
}
#header {
    background: #777;
    background-image: url("img/footer.jpg");
    height: 50px;
    top: 0
}
#middle {
    top: 50px;
    bottom: 0px
}
#footer {
    background: rgba(119,119,119,0.2);
    background-image: url("img/footer.jpg");
    height: 50px;
    bottom: 0;
}
#left {
    background: rgba(134, 134, 134, 0.329);
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    /* height: 120% */
}
#center {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 30%;
    top: 0;
    float: right;
    width: 50%;
    overflow-y: scroll
    /* height: 120% */
}
#right {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 80%;
    top: 0;
    float: right;
    width: 20%;
    overflow-y: scroll
    /* height: 120% */
}
h1, h2, h3, lable, p {
  font-family: NiceLook;
}
button {
  background-color: #87ceeb;
  border-style: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: NiceLook;
}
button:disabled {
    background-color: #416370;
    color: rgb(143, 143, 143);
    border-style: none;
}
#TextInfo {
    background: rgba(134, 134, 134, 0.329);
    top: 10;
}
#container {
  overflow: hidden;
}

#sliding-background {
  background: url("..path/to/image") repeat-y;
  height: 5076px;
  width: 16px;
  animation: slide 20s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -1692px, 0);
  }
}