@font-face {
    font-family: NiceLook;
    src: url(NewTegomin-Regular.ttf);
  }

html, body {
    margin: 0; padding:0; border: 0;
    overflow: hidden
}
#header, #middle, #footer {
    position: absolute;
    width: 100%
}
#header {
    background: #777;
    background-image: url("img/footer.jpg");
    height: 120px;
    top: 0;
    z-index: 1;
}
#middle {
    background-image: url("UpgradeBG.jpg");
    top: 120px;
    bottom: 0px
}
#footer {
    background: #777;
    background-image: url("img/footer.jpg");
    height: 50px;
    bottom: 0
}
#left {
    background: rgba(134, 134, 134, 0.329);
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    /* height: 120% */
}
#center {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 30%;
    top: 0;
    float: right;
    width: 50%;
    overflow-y: scroll
    /* height: 120% */
}
#right {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 80%;
    top: 0;
    float: right;
    width: 20%;
    overflow-y: scroll
    /* height: 120% */
}
h1, h2, h3, lable, p {
  font-family: NiceLook;
}
button {
  background-color: #87ceeb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: NiceLook;
}
button:disabled {
    background-color: #416370;
    border: none;
    color: rgb(143, 143, 143);
  }

#scroll {
  background: url("img/cookieShower3.png") repeat-y;
  height: 1526;
  width: 30%;
  animation: slide 7s linear infinite;
  z-index: -1;
}
  
  @keyframes slide{
    0%{
      transform: translate3d(0, -512px, 0);
    }
    100%{
      transform: translate3d(0, 0, 0);
    }
  }